<h1>Admin Items</h1>
<table class="table">
<% @items.each do |item|%>
<tr>
  <td class="tiny"><img src="<%= item.image_url %>" class="img-responsive tiny"></td>
  <td>  <%= link_to item.name, item %> </td>
  <td><%= item.description %></td>
  <td><%= item.price %></td>
  <td><%=  item.status %></td>
  <td><%=  link_to "edit", edit_admin_item_path(item) %></td>
</tr>
<% end  %>

</table>
