<tr class="cart-row">
  <td class="tiny text-center"><%= link_to image_tag(order_row.item.image_url, class: "img-responsive"), order_row.item %></td>
    <td class='text-center'><%= link_to order_row.item.name, order_row.item %></td>
  <td class='text-center'><%= order_row.quantity %></td>
  <td class='cart-price text-center'><span class='cart-price'><%= number_to_currency(order_row.item.price) %></span></td>
  <td class='cart-price text-center'><span class='cart-price'><%= number_to_currency(order_row.total) %></span></td>
</tr>
<tr>
  <td colspan="5" class="dad-item-joke-separator text-center"><%= order_row.joke.lead %></td>
</tr>
