<%= render 'layouts/header' %>
<div class='row'>
  <div class='col-md-7'>
    <div class='panel panel-default'>
      <div class='panel-heading'>Pick a Joke</div>
      <div class='panel-body'>
        <div class='list-group'>
          <%= render @jokes %>
        </div>
        
        <div class="text-center">
          <%= button_to "Pick a random joke for me!", sessions_path(joke_id: @joke), method: :patch, class: "btn btn-md btn-primary" %>
          <br>
          <%= link_to "See all Jokes", jokes_path %>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>Item of the Now</div>
      <div class='panel-body'>
        <div class='list-group'>
          <%= render "item_welcome", locals: {item: @item} %>
        </div>
      </div>
    </div>
    
  </div>
  
</div>

<div class="row">
  <div class='col-md-12'>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <div class="col-md-1">
          <%= image_tag('richard.jpg', class: "img-responsive") %>
        </div>
        <div class="col-md-11">
          <br>
          <p class='dad-testamonial'>I was really struggling to embarrass my children before I found this site.
                                     now they can't stand to be in public with me!</p>
          <p>- Richard</p>
        </div>
        
      </div>
    </div>
    
  </div>
</div>
