<div class='row'>
  <div class='col-md-12'>
    <div class='panel'>
      <div class='panel-body'>
        <h1 class='text-left'>Your Cart</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-7">
  <div class='panel panel-default'>
    <div class='panel-body'>
      <% if !@order_items.empty? %>
      <%= render 'cart' %>
      <% else %>
      <%= render 'empty_cart' %>
      <% end %>
    </div>
  </div>

</div>

<div class="col-md-5">
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class="text-center">
        <h3><%= @user_message %></h3>
        <% if current_user %>
          <p class='text left'><h4>Shipping Info:</h4>
            <table class="table">
              <tr>
                <td>Address: </td> <td>12312313 asdfasdfasdfas</td>
              </tr>
            <tr>
                <td>city: </td> <td>asdfas</td>
            </tr>
            <tr>
                <td>state: </td> <td>as</td>
            </tr>
            <tr>
                <td>zipcode: </td> <td>2342</td>
            </tr>
            </table>
            <% if session[:cart] %>
            <br>
            <%= button_to "Checkout", checkout_path, id: "checkout", class: "form-control btn btn-primary btn-md" %>
            <br>
            <% else %>
              <p></p>
            <% end %>
          <% else %>
            <p>Please login before Checking out</p>
            <br>
            <%= link_to "Login", '/login',  class: "form-control btn btn-primary btn-md" %>
            <br>
          <% end %>
          </p>
        
      </div>
    </div>
  </div>
</div>

</div>
