<div class='row'>
  <div class='col-md-12'>
    <div class='panel'>
      <div class='panel-body'>
        <h1 class='text-left'>Your Cart</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-7">
  <div class='panel panel-default'>
    <div class='panel-body'>
      <% if !@order_items.empty? %>
      <%= render 'cart' %>
      <% else %>
      <%= render 'empty_cart' %>
      <% end %>
    </div>
  </div>

</div>

<div class="col-md-5">
  <div class='panel panel-default'>
    <div class='panel-body cart-right'>
      <% if @user %>
        <%= render partial: 'users/shipping_info' %>
        <% if session[:cart] %><br>
          <%= button_to "Checkout", checkout_path,
                               method: :post, data: { confirm: "Are you sure?" },
                               class: "form-control btn btn-primary btn-md dad-checkout-btn" %>
        <% end %>
      <% else %>
        <p class="text-center">Please login before checking out.</p>
        <br>
        <%= link_to "Login", '/login',  class: "form-control btn btn-primary btn-md" %><br>
      <% end %>
    </div>
  </div>
</div>

</div>
