<tr>
  <td><%= order.id %></td>
  <td><%= order.created_at.strftime("%m/%d/%Y")%></td>
  <td><%= order.user.first %> <%= order.user.last %></td>
  <td><%= order.quantity %></td>
  <td><%= number_to_currency(order.total) %></td>
  <td><%= order.status %></td>
</tr>
