<div class='row'>
  <div class='col-md-12'>
    <div class='panel'>
      <div class='panel-body'>
        <h1>Admin Dashboard</h1>
      </div>
    </div>
  </div>
</div>

<div class='row text-center'>
  <div class='col-md-3'>
    <div class='panel'>
      <div class='panel-body'>
        <h2>Ordered</h2>
          <h2><%= status_total("ordered") %></h2>
      </div>
    </div>
  </div>

  <div class='col-md-3'>
    <div class='panel'>
      <div class='panel-body'>
        <h2>Paid</h2>
        <h2><%= status_total("paid") %></h2>
      </div>
    </div>
  </div>

  <div class='col-md-3'>
    <div class='panel'>
      <div class='panel-body'>
        <h2>Cancelled</h2>
        <h2><%= status_total("cancelled") %></h2>
      </div>
    </div>
  </div>

  <div class='col-md-3'>
    <div class='panel'>
      <div class='panel-body'>
        <h2>Completed</h2>
        <h2><%= status_total("completed") %></h2>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <div class='panel'>
      <div class='panel-body'>
        <h2>All Orders</h2><br>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Order #</th><th>Date</th><th>Customer</th><th>Total Quantity</th><th>Revenue</th><th>Status</th><th>Mark Order As</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "order", collection: @all_orders %>
          </tbody>
          <tfoot><tr></tr></tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<%= render "/users/user_info" %>
