<!DOCTYPE html>
<html>
<head>
  <title>DadJokesForDays</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<div class="container well">
 <div class="flash flash-alert"><%= flash.alert %></div>
 <div class="flash flash-notice"><%= flash.notice %></div>
 <%= yield %>
</div>

  <%# <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %1> %>


  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
